%default--band {
    position: relative;
    padding-top: calc( #{rh-var(container-spacer)} * 4);
    padding-bottom: calc( #{rh-var(container-spacer)} * 4);
}
$gutter: 15px;  // clean up

%default--container {
	margin: 0 auto;
    padding: 0 15px;
    @media (min-width: $rh-global--grid-breakpoint--md) {
        padding: 0;
        width: calc(#{rh-var(grid-breakpoint--sm)} - #{$gutter * 4});
    }
    @media (min-width: $rh-global--grid-breakpoint--lg) {
        width: calc(#{rh-var(grid-breakpoint--md)} - #{$gutter * 4});
    }
    @media (min-width: $rh-global--grid-breakpoint--xl) {
        width: calc(#{rh-var(grid-breakpoint--lg)} - #{$gutter * 4});
    }
}

%ratio { //https://css-tricks.com/aspect-ratio-boxes/
    width: 100%;
    > * {  
      height: auto;
    } 
    @supports (--custom:property) {
      position: relative;
      
      &::before {
        content: "";
        display: block;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
      }  
      & > :first-child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }  
    }
}

%debug {
  border: pink solid 2px;
}