@import "../../rh-sass/rh-sass";

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

$rh-video-icon__size:   0.7em;
$rh-video-icon__color: white;

$rh-video-band__bg_color: black;
$rh-video-band__text_color: white;


:host {
  display: block;
  --aspect-ratio: 16/9;
}

:host([hidden]) {
  display: none;
}


:host {
  background: $rh-video-band__bg_color;
  color: $rh-video-band__text_color;

  ::slotted(iframe) {

  }
}
.rh-video-band {
  @extend %default--band;
  &-container {
  	@extend %default--container;

  }
  &-cta {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  &-play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px $rh-video-icon__color;
    border-radius: 100%;
    padding: $rh-video-icon__size * 0.7;
    margin-right: $rh-video-icon__size;
    height: $rh-video-icon__size * 2.5;
    width: $rh-video-icon__size * 2.5;

	&::before {
		display: inline-block;
		margin-left: calc(#{rh-var(content-spacer)} * 0.25); // 1/4 of the base `content-spacer`
		vertical-align: middle;
		@include rh-arrow(
			right, 
			$rh-video-icon__color, 
			$rh-video-icon__size * 1.2, 
			$rh-video-icon__size, 
			true
		);
    }

  }
  &-details {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  }
  &-iframe-container {
  	 border: 1px solid #555;
     @extend %ratio;
  	 margin-bottom: #{rh-var(container-spacer)};

  	 iframe ::slotted([slot="video"]) { 
		@extend %debug;
	}
  }
}
a ::slotted(*) { 
	text-transform: uppercase;
}


  //    &[data-ux-state="visible"] {
  //      opacity: 1;
  //      z-index: 1;
  //      &[data-ux-animation="video-play"] {
  //        animation: growBand 1s forwards ease-in;
  //      }
  //      &[data-ux-animation="video-close"] {
  //        animation: shrinkBand 1s forwards ease-in;
  //      }
  //    }
  //    &[data-ux-state="hidden"] {
  //      z-index: -1;
  //      opacity: 0;
  //      position: absolute;
  //      top: 0;
  //      left: 0;
  //      width: 100%;
  //      &[data-ux-animation="video-play"] {
  //        animation: opacity .5s .2s forwards ease-in;
  //      }
  //      &[data-ux-animation="video-close"] {
  //        animation: opacity .5s forwards ease-in;
  //      }
  //    }
  //  }
  //}

 :root {
  @keyframes growBand {
      0% {
          opacity: 1;
          z-index: 1;
          min-height: 0;
      }
      50% {
          opacity: 0;
          z-index: 1;
          min-height: 550px;
      }
      100% {
          opacity: 0;
          z-index: -1;
          min-height: 550px;
      }
  }
  @keyframes shrinkBand {
      0% {
          opacity: 1;
          z-index: 1;
          max-height: 550px;
      }
      50% {
          opacity: 0;
          z-index: -1;
          max-height: 550px;
      }
      100% {
          opacity: 0;
          z-index: -1;
          max-height: 50px;
      }
  }
  @keyframes opacity {
      50% {
          opacity: 0;
          z-index: -1;
      }
      100% {
          opacity: 1;
          z-index: 1;
      }
  }
} 